<!DOCTYPE html>
<html>
  <head>
    <h1><%= title %></h1>
    <link rel='stylesheet' href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Express Lab1 Student form</h1>
    <form action="/addStudent" method="POST">
      <p>Enter the data here</p>
      <input id="name" name="name" type="text" placeholder="Enter student name">
      <input id="grade" name="grade" type="text" placeholder="Enter student grade">
      <input id="submit" type="submit" value="Submit">
    </form>
    </body>
</html>