<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
      <div class="container">
          <div class="column">
              <div class="col1 col-lg-12">
                  <h1>Student List</h1>
                  <hr>
              </div>
              <div class="col2 col-lg-12">
                  <p id="first">Their grades</p>
                  <input id="studentInput" type="text" placeholder="Enter student name">
                  <input id="gradeInput" type="number" placeholder="Enter student grade">
                  <button id="enter">Insert</button>
                  <button id="studentList">Student List</button>
              </div>
          </div>
      </div>
  </body>
</html>
